body {
      font-family: Arial, sans-serif;
      background: #e2e2e2;
      color: #383838;
      ;
      padding: 20px;
      transition: background-color 0.6s ease, color 0.6s ease;
    }

    img {
      max-width: 400px;
      margin-top: 20px;
      transition: filter 0.6s ease;
    }

    /* Dark mode */
    body.dark-mode {
      background: #4b4b4b;
      color: #ffffff;
    }

    body.dark-mode img {
      filter: brightness(0.8);
    }

    /* Botão */
    #toggle-dark {
      position: fixed;
      top: 20px;
      right: 20px;
      padding: 10px 15px;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      font-size: 18px;
      background:transparent; /* sol */
      transition:0.4s ease, transform 0.3s ease;
    }

    #toggle-dark:hover {
      transform: scale(1.1);
    }

    body.dark-mode #toggle-dark {
      background: transparent; /* lua */
      color: #fff;
    }
    .btn-veja-mais {
  display: inline-block;
  padding: 10px 20px;
  background: #3498db;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s ease;

}

.btn-veja-mais:hover {
  background: #2980b9;
}
* Responsividade */

@media (max-width: 768px) {
  nav {
    height: 200px;
  }
  nav::before {
    background: linear-gradient(to bottom, rgba(0,0,0,0.15), rgba(0,0,0,0.05));
  }
}

/* Adiciona leve efeito de zoom ao passar o mouse (opcional, dá vida à imagem) */
nav img:hover {
  transform: scale(1.02);
}